/*hero section css */
.text-header::selection{-webkit-text-fill-color:#fff;}
section.main-hero-section{margin-top:80px;background:linear-gradient(13deg,#26051D 16.6%,#6B4762 97.04%);padding:70px 0;}
h1.sec-title{font-weight:500;animation:gradientMove 4s ease infinite;color:#fff}
h1.sec-title::selection{color:#fff;background:#3a5897;-webkit-text-fill-color:#fff;}
a.btn.emizen-btn{border-radius:40px;font-size:16px;font-weight:700;letter-spacing:0.16px;text-transform:capitalize;transition:all .4s;position:relative;z-index:1;overflow:hidden;margin-top:10px;padding:16px 20px;line-height:25px;background:#fff;color:#4C2A4B;border:0}
a.btn.emizen-btn:hover{color:#fff;}
.hero-disc{font-size:16px;line-height:28px;max-width:713px;font-weight:500;border-radius:20px;border:1px solid rgba(255,255,255,0.12);background:rgba(255,255,255,0.08);backdrop-filter:blur(7.5px);padding:20px;margin:20px 0 0;}
a.btn.emizen-btn img{transition:all .4s;display:inline-block;max-width:30px;}
a.btn.emizen-btn:hover img{transform:rotate(45deg);}
a.btn.emizen-btn::after{content:"";position:absolute;z-index:-1;top:0px;left:0px;right:0px;bottom:0px;transform-origin:50% 100%;transition-property:transform;transition-duration:0.3s;transition-timing-function:ease-out;transform:translate3d(0px,110px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);transform-style:preserve-3d;background:rgb(77 45 73);}
a.btn.emizen-btn:hover:after{transform:scaleY(1);}
p.sec-disc{color:#333;font-size:16px;font-weight:500;line-height:24px;max-width:1050px;margin:0 auto;}
h1.sec-title span{padding-top:10px;color:#FFF;font-size:31px;font-weight:500;line-height:normal;letter-spacing:1px;}
h1.sec-title{font-size:54px;font-weight:700;line-height:60px;letter-spacing:1px;}
@media(max-width:767px){
    section.main-hero-section{min-height:auto;padding:45px 0;}
}
section.main-hero-section .contacnts-form{border:1px solid #133d6e;padding:20px;max-width:550px;margin-left:auto;border-radius:24px;background:#FFF;}
section.main-hero-section .contacnts-form .wpcf7 form.sent .wpcf7-response-output{color:#fff;display:block;text-align:center;}
section.main-hero-section .contacnts-form input.wpcf7-form-control,section.main-hero-section .contacnts-form textarea{margin-bottom:0;width:100%;border:0;border-bottom:1px solid #00A1E0;padding:16px 20px;border-radius:10px;background:#FFF;margin:0}
section.main-hero-section .contacnts-form .wpcf7-response-output{display:inline-block;width:100%;}
section.main-hero-section .contacnts-form h3{color:#fff;margin-bottom:0;padding:0;}
section.main-hero-section .contacnts-form .elementor-field.elementor-field-textual{width:100%;background:transparent;border:0.5px solid #000;margin:0;color:#000;border-radius:10px;height:50px;font-size:16px;}
section.main-hero-section .contacnts-form 
label.elementor-field-label{color:rgba(0,0,0,0.70);font-size:18px;font-style:normal;font-weight:400;line-height:normal;}
section.main-hero-section .contacnts-form
.elementor-field-group.elementor-column.elementor-col-50{width:100%;}
section.main-hero-section .contacnts-form textarea.elementor-field.elementor-field-textual{height:90px;resize:none;}
section.main-hero-section .contacnts-form button.elementor-button.elementor-size-sm{font-size:16px;font-weight:700;letter-spacing:0.16px;text-transform:capitalize;transition:all .4s;position:relative;z-index:1;overflow:hidden;margin-top:10px;padding:15px 20px;line-height:25px;color:#4C2A4B!important;border-radius:40px;border:1px solid #4C2A4B!important;background:#FFF!important;min-width:160px!important;max-width:fit-content;}
section.main-hero-section .contacnts-form button.elementor-button.elementor-size-sm:hover{background:#4C2A4B!important;color:#fff!important;}

/*new counter css */
section.our-sucess{margin:50px 0;}
.our-sucess-sec{background:#66435D;background-size:cover;border-radius:25px;padding:50px;position:relative;overflow:hidden;z-index:1;}
.our-sucess-sec:before{background:#66435D url(https://emizentech.com/wp-content/uploads/2025/10/odd-bg.png) no-repeat center center;background-size:cover;content:'';position:absolute;width:100%;height:100%;left:0;right:0;top:0;opacity:.3;z-index:-1;}
section.our-sucess h2{font-size:34px;font-weight:700;}
section.our-sucess p{color:#FFF;font-size:16px;font-weight:500;max-width:1032px;line-height:28px; /* 175% */margin:auto;}
.skill-dsc{padding:50px 0;}
.our-sucess-sec .skill-dsc h2{font-size:32px;font-weight:800;line-height:30px;color:#fff;}
.our-sucess-sec .skill-dsc > div{color:#fff;text-align:center;font-size:18px;font-style:normal;font-weight:500;line-height:24px;}
@media(max-width:1600px){
    .our-sucess-sec{padding:35px;}
}
@media(max-width:1199px){
    .our-sucess-sec{padding:25px;}
    .our-sucess-sec .skill-dsc > div{font-size:15px;}
}
@media(max-width:991px){
    a.btn.emizen-btn{padding:10px 14px;}
    .hero-disc{font-size:16px;line-height:24px;}
    .counter-block{padding:10px;flex:0 0 20%;}
    section.our-sucess{margin:30px 0 0;}
    section.main-hero-section .contacnts-form label.elementor-field-label{font-size:15px;}
}
@media(max-width:767px){
    .our-sucess-sec .skill-dsc h2{font-size:24px;line-height:30px;padding:0;}
    .our-sucess-sec > div{gap:10px 0px;}
    .our-sucess-sec{padding:25px 15px;}
    .counter-block{flex:0 0 50%;padding:0 5px;}
    .our-sucess-sec .skill-dsc > div{font-size:15px;}
    section.our-sucess p{font-size:15px;line-height:24px;}
}

/*work flow sectiobn css */
section.work-process{padding:50px  0;}
section.work-process .process-continer img{max-width:60px;transition:all .4s}
section.work-process h3.process-title{border-top:4px solid #64415B;font-size:20px;font-weight:600;line-height:38px;}
p.ai-sec-disc{color:#333333;font-size:16px;}
section.work-process h3.process-title,section.work-process h3.process-title a{color:#333;}
section.work-process .row{gap:30px 0;}
section.work-process .process-continer:hover img{transform:scale(1.1);}
section.work-process .process-disc{transition:all .3s;color:#747474;opacity:0.85;font-size:16px;line-height:24px;font-weight:400;}
.process-continer{padding:15px;transition:all .3s;}
section.work-process a.btn.emizen-btn{border:1px solid #4C2A4B;color:#4C2A4B;}
.process-continer:hover{border-radius:12px;border:1px solid #DEDEDE;background:#FFF;box-shadow:0 0 12px 1px rgba(0,0,0,0.12);}
@media(max-width:1199px){
    section.work-process h3.process-title,section.work-process h3.process-title a{font-size:18px}
}
@media(max-width:1024px){
    .box-inner{font-size:17px;}
    section.work-process .process-continer img{max-width:45px;}
    section.work-process h3.process-title{font-size:18px;line-height:25px;}
}
@media(max-width:991px){
    section.work-process{padding:30px  0;}
    section.work-process .process-disc{font-size:15px;line-height:21px;}
    section.work-process h3.process-title{padding-bottom:2px;}
    section.work-process .row  .row{margin:0 -10px;}
    section.work-process .row .row [class*="col"]{padding:0 10px;}
    section.work-process .row{gap:15px 0;}
}
@media(max-width:767px){
    section.work-process .process-continer{text-align:center;max-width:100%;border:1px solid #ddd;border-radius:15px;padding:14px;}
}
@media(max-width:575px){
    section.work-process .row{gap:15px 0;}
}
h2.sec-title2{color:#66435D;/* Text */font-size:42px;font-style:normal;font-weight:700;line-height:55px; /* 130.952% */}
h2.sec-title2 + p{color:#333;font-size:16px;font-weight:500;line-height:24px; /* 150% */}

/* cta section */
.cta_section .cta-box{border-radius:25px;background:#66435D;padding:30px 30px;z-index:1;display:flex;justify-content:space-between;align-items:center;}
.cta_section .cta-box h3{font-size:34px;font-weight:700;line-height:47px;}
.cta_section .cta-box p{font-size:16px;font-weight:500;line-height:28px;}
@media(max-width:1366px){
    .cta_section .cta-box h3{font-size:28px;line-height:36px;}
}
@media(max-width:991px){
    .cta-infos{max-width:100%;text-align:center;}
    .cta_section .cta-box h3{font-size:24px;line-height:36px;}
    .cta_section .cta-box{padding:30px}
    .cta_section .cta-box p{padding-bottom:0;font-size:17px;}
}
@media(max-width:767px){
    .cta_section .cta-box p{font-size:15px;padding-bottom:20px;line-height:23px;text-align:center;}
    .cta_section .cta-box h3{text-align:center;}
    .cta_section .cta-box{padding:20px;border-radius:13px}
}
.cta_section .cta-box > img.abstract-img{position:absolute;top:0;left:0;opacity:.2;z-index:-1;}
.cta-infos{text-align:left;max-width:62%;float:left;width:100%;margin-right:auto;}
section.how-to-work{padding:80px 0;}
section.how-to-work li{border-radius:20px;border:1px solid #E3DBD8;background:#FFF;/* display: flex; */width:100%;color:#6F4A66;font-size:19px;font-weight:700;line-height:30px; /* 136.364% */flex-wrap:wrap;padding:14px 24px;display:inline-block;max-width:615px;}
section.how-to-work li > span.list-title{color:#727272;font-size:16px;line-height:24px; /* 150% */background:transparent;width:100%;padding:10px 0 0 90px;}
section.how-to-work li > span.circle-box{border-radius:999px;background:#6F4A66;color:#FFF;text-align:center;font-size:42px;font-style:normal;font-weight:700;line-height:30px;center;width:70px;display:inline-block;height:70px;margin-right:20px;float:left;line-height:70px;}
section.how-to-work li:not(:last-child){margin-bottom:25px;}
section.how-to-work img{margin-left:auto;display:block;}
section.how-to-work a.btn.emizen-btn{position:relative;overflow:hidden;border:1px solid #4C2A4B;}
section.cta_section.cta2 h3{max-width:1000px;margin:auto;}
.emizen-client li a{padding:10px 10px;font-size:18px;line-height:27px;color:#080046;display:inline-block;width:100%;min-height:140px;border-radius:15px;border:1px solid #783276;height:100%;background:#FFF;box-shadow:0 10px 25px 0 rgba(12,26,98,0.10);flex-flow:column;display:flex;align-items:center;justify-content:center;}
.emizen-client li img{max-width:50px;display:block;margin:0 auto 10px;}
section.emizen-client{padding:80px 0;}
.emizen-client li{max-width:240px;width:100%;text-align:center;}
section.emizen-client ul{gap:54px;padding-left:0;}
.box-inner{border-radius:24px;border:1px solid #66435D;color:#000;font-size:22px;font-weight:700;line-height:normal;letter-spacing:0.32px;max-width:325px;padding:20px 0;}
.box-inner img{max-width:70px;margin:0 auto 20px;display:block;}
.div-leftsec{max-width:750px;margin-left:auto;}
h2.sec-title2 + p{color:#000;font-size:16px;font-style:normal;font-weight:500;line-height:24px; /* 150% */}
.div-leftsec li{color:#747474;font-size:18px;font-style:normal;font-weight:500;line-height:30px; /* 166.667% */display:revert;text-align:left;background:url(https://emizentech.com/wp-content/uploads/2025/10/icn-2.svg) no-repeat left center;padding-left:40px;}
section.emizen-client2{padding-bottom:40px;}
section.emizen-client2 ul{padding:0;display:flex;flex-flow:column;gap:20px 0;}
section.work-process a.btn.emizen-btn:hover{color:#fff;}
@media(max-width:1600px){
    section.work-process a.btn.emizen-btn:hover{color:#fff;}
    section.our-sucess{margin-bottom:0;}
    section.work-process{padding-bottom:0;}
    section.how-to-work{padding-top:50px;}
    .skill-dsc{padding:20px 0;}
    h2.sec-title2{font-size:36px;font-weight:700;line-height:45px;}
    section.how-to-work li > span.circle-box{font-size:30px;width:60px;height:60px;line-height:60px;margin-right:15px;}
    section.how-to-work{padding:50px 0 0;}
    section.emizen-client ul{gap:15px;}
    .box-inner{font-size:24px;}
    .box-inner img{max-width:60px;}
    .div-leftsec li{font-size:16px;}
    section.how-to-work li > span.list-title{padding-left:70px;}
    section.emizen-client{padding-top:50px;}
}
@media(max-width:1440px){
    section.emizen-client2{padding-bottom:10px;}
    h1.sec-title{font-size:44px;line-height:50px;}
    h1.sec-title span{font-size:25px;}
}
@media(max-width:1368px){
    h1.sec-title{font-size:36px;line-height:46px;}
    section.main-hero-section .contacnts-form button.elementor-button.elementor-size-sm{padding:8px 20px}
    .process-continer{padding:0}
}
@media(max-width:1199px){
    h2.sec-title2{font-size:30px;font-weight:700;line-height:45px;}
    .cta_section .cta-box img{max-width:35%;padding-left:10px;}
    .box-inner{font-size:18px}
    section.emizen-client ul{gap:15px;}
}
@media(max-width:1024px){
    h1.sec-title{font-size:30px;line-height:36px;}
    h1.sec-title span{font-size:20px;}
    .emizen-client li{max-width:31.33%;}
    section.main-hero-section .contacnts-form{padding:15px;margin-top:20px;border-radius:15px;}
}
@media(max-width:991px){
    section.emizen-client2 [class*="col"] > .row [class*="col"]{padding:0 7px;}
    section.emizen-client2 [class*="col"] > .row{margin:0 -7px;}
    .cta_section .cta-box img{display:none;}
    .cta-infos{max-width:100%;text-align:center;}
    .div-leftsec li{font-size:15px;background-size:20px;padding-left:30px;line-height:21px;}
    section.how-to-work li{padding:14px;line-height:24px;font-size:18px;}
    .box-inner{padding:10px;margin:auto;font-size:16px;text-align:center;border-radius:10px;height:100%;}
}
@media(max-width:767px){
    section.our-sucess h2{font-size:24px;}
    section.main-hero-section .contacnts-form{padding:15px;margin:30px auto 0;}
    h2.sec-title2{font-size:24px;line-height:36px;}
    .our-sucess-sec{padding:30px 15px;border-radius:12px;}
    .emizen-client li{max-width:calc(50% - 8.5px);}
    .cta-infos{max-width:100%;}
    .cta_section .cta-box img{position:absolute;top:0;left:0;z-index:-1;opacity:.3;width:100%;}
    .cta_section .cta-box .cta-infos + img{width:auto;position:static;opacity:1;}
    section.main-hero-section .contacnts-form .elementor-field.elementor-field-textual{height:40px;font-size:15px;}
    section.how-to-work li,section.how-to-work li:not(:last-child){display:block;text-align:center;padding:15px;font-size:18px;line-height:25px;max-width:calc(48% - 4px);margin-bottom:0;}
    ul.list-box{display:flex;flex-wrap:wrap;gap:10px;justify-content:center;}
    section.how-to-work li > span.circle-box{display:block;float:none;margin:auto;}
    section.how-to-work li > span.list-title{padding:10px 0 0;width:100%;max-width:100%;}
    section.cta_section.cta2 h3{font-size:20px;line-height:26px;}
    section.emizen-client{padding:40px 0;}
    section.emizen-client ul{padding:0;}
    section.emizen-client2 ul{gap:12px 0;}
    .skill-dsc{padding:0;}
    .cta-infos{max-width:100%;text-align:center;}
    .box-inner img{max-width:40px;margin-bottom:10px;}
    .emizen-client li a{padding:10px;font-size:17px;line-height:24px;min-height:110px}
    section.how-to-work{padding-top:30px;}
}
@media(max-width:767px){
    .box-inner{max-width:100%;width:100%;}
    a.btn.emizen-btn img{display:none;}
    .emizen-client li img{max-width:40px;}
    h1.sec-title{font-size:28px;line-height:34px;}
}
@media(max-width:480px){
    section.how-to-work li,section.how-to-work li:not(:last-child){max-width:100%;}
    .cta_section .cta-box{padding:15px 15px 30px;border-radius:13px;}
}
@media(max-width:380px){
    a.btn.emizen-btn{padding:10px;font-size:14px;}
}