section.mobile-hero-section{background:linear-gradient(100.75deg,#F3F2FF -14.53%,#EDFFFE 83.53%,#FFF 106.41%);margin:80px 0 0;padding:80px 0 80px;z-index:1;}
section.mobile-hero-section .hero-title-sec{max-width:48%;}
section.mobile-hero-section .sec-title{color:#000;padding-bottom:15px;font-weight:600;font-size:52px;line-height:68px;background:linear-gradient(#0E1A2E,#04618D);background-clip:border-box;-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;max-width: 540px}
section.mobile-hero-section .sec-title::selection{background-clip:none;-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:#fff;}
section.mobile-hero-section .sec-title span{color:#007DB2;font-weight:600;}
p.sec-disc{font-size:16px;color:#333;line-height:24px;}
section.mobile-hero-section .hero-disc{color:#333;font-size:16px;font-weight:400;line-height:28px;}
img.curved-img{position:absolute;right:0;z-index:-1;top:0;}
.btn{transition:all .4s ease 0s;}
.btn img{transition:all .4s ease 0s;}
ul.home-bredcrumbs.breadcrumbs{color:#096e99;gap:0 10px;text-transform:capitalize;padding-left:0}
ul.home-bredcrumbs.breadcrumbs li a{color:#096e99;text-decoration:underline;font-weight:600}
ul.home-bredcrumbs.breadcrumbs li:after{content:'/';position:absolute;padding:0 6px;}
ul.home-bredcrumbs.breadcrumbs li{padding:0 3px;}
ul.home-bredcrumbs.breadcrumbs li:last-child:after{display:none;}
section.mobile-hero-section .btn.emizen-btn{background:#007DB2;border:1px solid #007DB2;color:#FFF;font-size:16px;font-weight:600;line-height:normal;padding:14px 18px;letter-spacing:0.16px;text-transform:capitalize;position:relative;overflow:hidden;z-index:1;}
section.mobile-hero-section .btn.emizen-btn:hover{background:#fff;color:#007DB2;}
.img-outer-slider{width:52%;}
.img-outer-slider .slider-outer-girl{margin-left:90px;}
.btn.emizen-btn{border-radius:40px;position:relative;overflow:hidden;z-index:1;padding:14px 18px;font-size:16px;font-weight:600;line-height:normal;}
@media (min-width:1350px) and (max-width:1539px){
    section.mobile-hero-section{padding:50px 0 65px;}
    section.mobile-hero-section .sec-title{font-size:40px;line-height:55px;}
    .img-outer-slider .slider-outer-girl{margin-left:0;}
}
@media (min-width:1200px) and (max-width:1349px){
    section.mobile-hero-section .sec-title{font-size:40px;line-height:55px;}
    .img-outer-slider .slider-outer-girl{margin-left:20px;}
    section.mobile-hero-section{padding:40px 0 50px;}
}
@media (max-width:1199px){
    section.mobile-hero-section .hero-title-sec{max-width:100%;}
    section.mobile-hero-section .hero-disc{padding-right:0;}
    section.mobile-hero-section .img-outer-slider{display:none;}
}
@media (max-width:767px){
    section.mobile-hero-section .btn.emizen-btn{padding: 8px 16px;}
    section.mobile-hero-section .sec-title{font-size:26px;line-height:36px;}
    section.mobile-hero-section{padding:40px 0 40px;}
}
@media (min-width:768px) and (max-width:1199px){
    section.mobile-hero-section .sec-title{font-size:30px;line-height:45px;}
}
/*Brands We’ve Partnered With & Case Studies*/
:root{--size:clamp(20rem,1rem + 300vmin,20rem);--gap:calc(var(--size) / 5);--duration:40s;--scroll-start:0;--scroll-end:calc(-100% - var(--gap));}
.marquee{display:flex;user-select:none;gap:20px;width:100%;}
.marquee__group{gap:20px;min-width:100%;flex-shrink:0;display:flex;align-items:center;justify-content:space-around;gap:20px;animation:scroll-x var(--duration) linear infinite;}
.marquee_group_item:hover .casestudy-popup{transform:translateY(0);opacity:1;pointer-events:all;}
.instry-iconbox{display:inline-block;width:100%;text-align:center;}
.marquee_group_item:hover .casestudy-popup{transform:translateY(0);opacity:1;pointer-events:all;}

/* Element styles */
.marquee-full-sect{padding:80px 0;overflow-x:hidden;background:#fff;}
.section-head{max-width:1320px;margin:0 auto 30px auto;}
.section-head h2{font-weight:600;font-size:36px;line-height:50px;}
.marquee div.marquee_group_item img.insdrstry-imgg{width:108px;object-fit:contain;height:65px;}
.marquee div.marquee_group_item{display:flex;place-items:center;width:100%;padding:10px;border-radius:10px;background:linear-gradient(90deg,#000 5.06%,#1d4352 89.55%);justify-content:center;align-items:center;height:auto;position:relative;}
.marquee--vertical div.marquee_group_item{aspect-ratio:1;width:calc(var(--size) / 1.5);padding:calc(var(--size) / 6);}
a.infinite-link-tag{position:absolute;top:-10px;right:0;width:auto;color:#fff;border-radius:100px;background:#007DB2;padding:5px 10px;}
@keyframes fade{
    to{opacity:0;visibility:hidden;}
}
@keyframes scroll-x{
    from{transform:translateX(var(--scroll-start));}
    to{transform:translateX(var(--scroll-end));}
}
@media (prefers-reduced-motion:reduce){
    .marquee__group{animation-play-state:paused;}
}
.marquee--vertical{--mask-direction:to bottom;}
.marquee--vertical,.marquee--vertical .marquee__group{flex-direction:column;}
.marquee--vertical .marquee__group{animation-name:scroll-y;}
.marquee--reverse .marquee__group{animation-direction:reverse;animation-delay:-3s;}
@keyframes scroll-y{
    from{transform:translateY(var(--scroll-start));}
    to{transform:translateY(var(--scroll-end));}
}
@media(max-width:991px){
    .marquee_group_item a.view-more-btn{padding:5px 10px 5px;font-size:15px;}
    p.casestudypera{font-size:14px;padding-bottom:10px;}
    .section-head h2{font-size:28px;line-height:37px;}
}
/*Complete Digital Solutions for Every Industry*/
h2.sec-title2{color:#0F1528;font-size:42px;font-weight:600;line-height:55px;padding-bottom:10px;}
p.ai-sec-disc{color:#333333;font-size:16px;}
section.clone-Solutions{background:#fff;padding:80px 0 20px 0;position:relative;z-index:1;}
section.techno-work .process-continer{border-radius:10px;background:#E7F4FC;transition:all .4s;transition:all .4s;display:flex;align-items:center;}
section.techno-work .process-title,section.techno-work .process-title a{color:#0F1528;font-size:18px;font-weight:600;line-height:24px;text-transform:capitalize;}
section.techno-work .process-title a{text-decoration: underline;color: #007db2;}
section.techno-work .process-title a:hover{text-decoration:underline;}
section.techno-work .process-title:hover,section.techno-work .process-title a:hover{color:#007DB2;}
section.techno-work .process-continer:hover .process-title,section.techno-work .process-continer:hover p{color:#fff;}
section.techno-work .process-continer:hover img{transform:scale(1.1);filter: brightness(0) invert(1)}
section.techno-work .process-continer:hover{border-color:#6dbced;background:#007db2;}
section.techno-work .process-continer:hover h3 a{color: #fff}

section.techno-work .process-continer .techno-left{flex:0 0 80px;}
.techno-work .row{gap:20px 0;}
section.techno-work .process-disc{font-size:16px;line-height:24px;font-weight:400;color:#333;}
section.techno-work .process-continer .techno-right{flex:calc(100% - 80px);padding-left:20px;}
@media(max-width:1680px){
    section.clone-Solutions .process-continer .techno-left img{max-width:100%;}
    section.techno-work .process-continer .techno-left{flex:0 0 65px;max-width:65px;}
    section.techno-work .process-continer .techno-right{flex:calc(100% - 65px);padding-left:10px;}
}
@media(max-width:1024px){
    section.techno-work .process-continer .techno-left {flex: 0 0 45px;max-width: 45px;}
    section.clone-Solutions{padding:40px 0}
}
/* cta */
.case-study-link{border-radius:100px;background:#007DB2;font-size:16px;line-height:20px;font-weight:400;color:#fff;position:absolute;right:0;top:0;padding:7px 10px;font-weight:400;}
.industries-top-slider{display:flex;flex-wrap:wrap;gap:32px;}
.brand_su_inner{border-radius:20px;background:url(https://emizentech.com/wp-content/uploads/2025/12/break-throw-bg.png) center center /cover;padding:20px 40px;background-size:cover;z-index:1;justify-content:space-between;}
.brand_su_content{max-width:52%;padding:30px 0;}
.brand_su_content p{font-size:16px;color:#fff;}
.brand_su_inner a.btn.emizen-btn{background:#007DB2;color:#fff;position:relative;overflow:hidden;border:1px solid #007DB2;border-radius:100px;padding:14px 20px;z-index:1;}
.brand_su_inner a.btn.emizen-btn:hover{background:#fff;color:#007DB2;}
.brand_su_inner:after{content:'';position:absolute;border-radius:716px;opacity:0.85;background:#007DB2;filter:blur(400px);width:716px;height:716px;left:0;right:0;margin:auto;top:0;z-index:-1;}
.brand_su_inner .brand_su_img{max-width:48%;}
/*faq section */
section.home_faq_sec{padding-bottom:80px}
section.home_faq_sec .faq_card .collap-card{border-radius:0 0 10px 10px;}
section.home_faq_sec .card-body{overflow:auto;border-radius:8px;background:#FFF;padding:20px;color:#333333;font-size:16px;font-weight:400;max-width:calc(100% - 40px);margin:0 auto 20px;}
section.home_faq_sec .faq_card button.btn.btn-link{position:relative;border-radius:10px;border:1px solid #E1ECF0;background:#E6F1F6;color:#0F1528;font-size:18px;font-weight:400;line-height:normal;padding:20px;}
section.home_faq_sec .faq_card button.btn.btn-link[aria-expanded="true"]{border:0;background:#E6F1F6;}
section.home_faq_sec .faq_card button.btn.btn-link[aria-expanded="true"]::after{background-image:url(https://emizentech.com/wp-content/uploads/2025/12/minus.svg);}
section.home_faq_sec .card-header .btn-link:after{background:#fff url(https://emizentech.com/wp-content/uploads/2025/12/plus.svg) no-repeat center center;border-radius:100%;background-size:14px;width:30px;height:30px;right:15px;top:50%;transform:translateY(-50%);}
section.home_faq_sec .faq_card{border-radius:10px;border:1px solid #E1ECF0;background:#E6F1F6;}
section.home_faq_sec .btn.emizen-btn:hover{background:#fff;color:#017DB2;}
.btn.emizen-btn:hover img{transform:rotate(45deg);}
.app-technologies-sec .faq_card{margin-bottom:30px!important;}

@media (min-width:1540px) and (max-width:1670px){
    section.techno-work .process-continer .techno-left{flex:0 0 60px;}
    .brand_su_inner{padding-right:10px;}
    .marquee div.marquee_group_item img.insdrstry-imgg{width:108px;margin:0 auto;text-align:center;}
    section.mobile-hero-section{padding:60px 0 55px;}
    section.mobile-hero-section .sec-title{font-size:42px;line-height:55px;}
}
@media (min-width:1350px) and (max-width:1539px){
    .section-head h2,h2.sec-title2{font-size:34px;line-height:46px;}
    .marquee-full-sect,.py-80,section.development-flow{padding:60px 0;}
    section.home_faq_sec{padding:0 0 60px!important;}
    .img-outer-slider .hero-ellips-box-one{right:0;top:10%;}
    .img-outer-slider .hero-ellips-box-two{position:absolute;top:55%;transform:translateY(-55%);left:140px;}
    .hero-banner-marquee{transform:rotate(10deg);bottom:32px;width:970px}
    .marquee div.marquee_group_item{padding:5px 0;}
    .marquee div.marquee_group_item .instry-iconbox{text-align:center;}
    .marquee div.marquee_group_item img.insdrstry-imgg{width:108px;margin:0 auto;text-align:center;}
}
@media (min-width:1201px) and (max-width:1380px){
    .brand_su_inner .brand_su_img {max-width: 40%;}
    section.mobile-hero-section .hero-title-sec{padding-bottom:0}
}
@media (min-width:1200px) and (max-width:1349px){
    section.mobile-hero-section .hero-title-sec{padding-bottom:0;padding-top:0;}
    .development-flow .development-flow-circle img{top:120px;width:250px;}
    .section-head h2,h2.sec-title2{font-size:30px;line-height:45px;}
    .marquee-full-sect,.py-80,section.development-flow{padding:50px 0;}
    section.home_faq_sec{padding:0 0 50px!important;}
    .hero-banner-marquee{width:900px;transform:rotate(11deg);bottom:36px;}
    .marquee div.marquee_group_item{padding:10px;}
    .marquee div.marquee_group_item .instry-iconbox{text-align:center;}
    .marquee div.marquee_group_item img.insdrstry-imgg{width:108px;margin:0 auto;text-align:center;}
}
@media (min-width:768px) and (max-width:1199px){
    .section-head h2,h2.sec-title2{font-size:28px;line-height:38px;}
    .marquee-full-sect,.py-80,section.ms_services,section.development-flow,section.mobile-hero-section{padding:50px 0;}
    section.mobile-hero-section .hero-title-sec{max-width:100%;padding:0;}
    .marquee div.marquee_group_item img.insdrstry-imgg{width:100px;height:40px;}
    .marquee div.marquee_group_item{padding:6px 20px;}
    .industries-top-slider{gap:20px;}
    .app-technologies-sec .sec-title2{font-size:26px;line-height:37px;}
    section.ms_services .position-sticky{top:45px;}
    .brand_su_content{max-width:100%;padding:30px 0;}
    section.home_faq_sec{padding:0 0 40px!important;}
    a.infinite-link-tag{padding:4px 10px;font-size:12px;}
}
@media(max-width:1199px){    
    section.home_faq_sec{padding-bottom:40px}
    .brand_su_inner:after{display:none;}
    section.home_faq_sec .faq_card button.btn.btn-link{font-size:16px;padding:10px 50px 10px 10px;}
    .marquee_group_item a.view-more-btn{padding:5px 10px 5px;font-size:0;}
    p.casestudypera{font-size:14px;padding-bottom:10px;}
}
@media(max-width:991px){
    section.home_faq_sec .card-body{font-size:15px;max-width:calc(100% - 20px);padding: 15px;}
    section.home_faq_sec .card-header .btn-link:after{width:25px;height:25px;right:7px;}
    section.home_faq_sec .faq_card button.btn.btn-link{padding:10px 40px 10px 10px;font-size:15px;}
    section.clone-Solutions .process-disc{font-size:15px;line-height:21px;}
    h2.sec-title2{font-size:32px;line-height:44px;}
    section.clone-Solutions .process-continer .techno-right{text-align:left;}
}
@media (max-width:767px){
    section.mobile-hero-section{padding:0;}
    .section-head h2,h2.sec-title2{font-size:24px;line-height:32px;}
    section.services_sec .benefit-box{border-right:none;}
    .marquee-full-sect,.py-80,section.development-flow{padding:40px 0;}
    section.techno-work .process-continer{flex-direction:column;}
    section.techno-work .process-continer .techno-right{padding-left:0;text-align:center;}
    section.mobile-hero-section .hero-title-sec{max-width:100%;padding:40px 0;}
     a.infinite-link-tag{font-size:10px;}
    .marquee div.marquee_group_item img.insdrstry-imgg{width:80px;height:36px;}
    .section-head{margin-bottom: 10px;}
    .industries-top-slider,.marquee,.marquee__group{gap:10px;}
    .m_brand_success .brand_su_img,.process-card-box::after,.hero-banner-marquee{display:none;}
    .brand_su_content{max-width:100%;padding:0;}
    .brand_su_inner{padding:20px 20px;}
    .brand_su_inner a.btn.emizen-btn{padding:10px 15px;}
    .process-card-container{padding:15px!important;}
    .development-flow .container-box{padding:0;}
    .flow-container{gap:20px;}
    .process-sec-img{flex:0 0 60px;}
    .brand_su_inner.ant_brand_box .brand_su_content{width:100%;}
    .card-header .btn-link{padding:15px 45px 15px 0;font-size:18px;font-weight:600;color:#151515;text-align:left;}
}