.ai_page{background:#000811;}
.absolute-right{position:absolute;right:0;top:0;}
.ai_main h1{background:linear-gradient(90deg,#2385FF 0%,#933EFF 100%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:80px;font-weight:600;line-height:80px;}
.ai_main:before{width:155.444px;height:155.444px;flex-shrink:0;content:"";position:absolute;left:40px;top:10px;z-index:1;background:rgba(0,112,235,0.50);filter:blur(125px);}
.ai-img .pt-100{padding-top:300px;}
.ai_main .pt-100{padding-top:180px;}
.grunion-field-wrap input, .grunion-field-wrap select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff !important;
}

.grunion-field-wrap label {
    color: #fff !important;
    font-weight: normal;
    font-size: 16px;
}
.why_choose h3 a,.ai-dev-Services h3 a{
    color: #fff;  
}    
.why_choose h3 a:hover, .ai-dev-Services h3 a:hover{
    color: #007db2;  
}

.ai_tech_form.Consultation-from #smallform .elementor-field-label{color:#fff;margin-bottom:5px;font-size:16px;}
.ai_tech_form.Consultation-from #smallform .e-form__buttons .elementor-button{position:relative;border-radius:5px;padding:16px 28px 14px 28px;background-color:#0585CD;color:#fff;font-weight:500;font-size:16px;text-align:center;text-transform:uppercase;}
.ai_tech_form.Consultation-from #smallform textarea{padding:var(--form--spacing-unit);resize:none;}
.ai_tech_form.Consultation-from h3.mb-4.text-white{margin-bottom:0!important;}
.ai_tech_form.Consultation-from .elementor-element{padding:0;}
.ai_tech_form.Consultation-from #smallform input,.ai_tech_form.Consultation-from #smallform textarea{background:transparent;margin:0;color:#fff;}
.contact-form .wp-block-button__link {width: auto;border-radius: 8px;padding: 10px 30px;color: #000!important;height: auto; background: #fff !important;}
.contact-form .wp-block-button__link:hover{background: #fff !important;color: #000 !important}

.emizentech-navigation.open .emizentech-logo img{filter:none;}
.emizentech-logo img{filter:brightness(0) invert(1);}
.ai_main h1 span{color:#F5F5FA;font-size:65px;font-weight:300;line-height:80px;-webkit-text-fill-color:#F5F5FA;}
.ai_main p{font-size:22px;font-weight:400;line-height:34px;color:rgba(245,245,250,0.75);}
section.ai-form-section p{font-size:16px;line-height:24px;color:#F5F5FA;}
.emizentech-btn{border-radius:50px;background:#0B213C;color:#F5F5FA;text-align:center;font-size:18px;font-weight:500;padding:17px 55px;display:inline-block;}
.contentbox{border-radius:20px;background:rgba(255,255,255,0.05);backdrop-filter:blur(10px);max-width:630px;}
.contentbox p{color:#B0BCCA;font-size:16px;line-height:27px;border-radius:20px;background:#0e151d;padding:25px 30px;}
.contentbox-inner{padding:1px;border-radius:20px;}
.line-shaoow.contentbox{background:linear-gradient(272deg,#55789F00 0%,#34567B 100%);}
.content-wapper a.emizentech-btn.cta_2-btn{background:linear-gradient(272deg,#1f2257 0%,#1e57a7 100%);padding:2px 2px;border-radius:50px;}
a.emizentech-btn.mt-3.cta_2-btn span{background:#0a1f39;width:100%;padding:17px 55px;display:inline-block;border-radius:50px;}
.content-wapper{align-items:flex-start;}
.ai_dev_link{color:#fff;font-size:24px;font-weight:400;line-height:normal;}
.dev_content_box{border-radius:20px;background:rgba(255,255,255,0.05);backdrop-filter:blur(50px);overflow:hidden;padding:2px;background:linear-gradient(90deg,#933FFE00 0%,#1A4B81 100%);}
.sr_disc{font-size:16px;color:#F5F5FA;opacity:0.75;font-weight:400;}
.shop_dev_sec{border-radius:20px;background:linear-gradient(112deg,#2385FF 0%,#933EFF 98.94%);backdrop-filter:blur(20px);padding:0 0 0 50px;overflow:hidden;}
.round.dev_img{height:100%;width:100%;background:#262c34;border-radius:100%;display:flex;align-items:center;justify-content:center;}
.contentbox-inner{padding:1px 1px;}
.col.Tab-col{max-width:45%;}
.col.Tab-col-content img{border-radius:10px;}
.col.Tab-col-content{flex:0 0 55%;}
.text-light2{color:#F5F5FA;}
.shop_dev_sec .ai_dev_link{font-size:40px;font-weight:300;line-height:52px}
.shop_dev_sec .ai_dev_link strong{font-weight:600;}
.shop_dev_sec li{font-size:16px;line-height:20px;color:#fff;padding:7px 0px 8px 20px;position:relative;display:inline-block;font-weight:500;width:100%;}
.shop_dev_sec li:before{content:"";position:absolute;left:0;border-width:7px 0px 7px 12px;border-color:transparent #fff transparent #fff;border-style:solid;top:10px;}
.text-white-light{color:rgba(245,245,250,0.75);}
.Consultation-from{background:linear-gradient(90deg,#2385FF 0%,#933EFF 100%);border-radius:20px;margin-left:40px;padding:1px;}
.ai-dev-Services .line-left {
    top: 14%;
}
.inner-bg{background:#0B1522;padding:35px;border-radius:20px;}
.Consultation-from input:focus{outline:none;}
span.wpcf7-spinner{position:absolute;}
.Consultation-from input::placeholder,.Consultation-from textarea::placeholder{color:#fff!important;}
.Consultation-from input.wpcf7-form-control,.Consultation-from textarea{width:100%;background:transparent;border:0;border-bottom:1px solid  #203145;padding:0 0 10px 0;color:#fff;font-size:15px;height:auto;font-weight:400;font-weight:300;}
.Consultation-from label{width:100%}
.Consultation-from textarea{height:80px}
.Consultation-from input.wpcf7-form-control::placeholder{font-weight:400;font-size:15px;line-height:18px;letter-spacing:0.01em;color:#FFFFFF;}
.Consultation-from span.wpcf7-form-control-wrap{padding-bottom:1.8rem;display:inline-block;width:100%;position:relative;}
.wpcf7 form.invalid .wpcf7-response-output,.wpcf7 form.unaccepted .wpcf7-response-output,.wpcf7 form.payment-required .wpcf7-response-output{margin:0;color:#fff;}
.content-bottom{background:linear-gradient(81deg,#2385FF 0%,#933EFF 70%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:38px;font-weight:400;line-height:54px;}
.text-heading:before{content:"";position:absolute;background:url(/wp-content/uploads/2023/08/content-outline.png) left center no-repeat;width:100px;height:4px;background-size:contain;left:0;bottom:0;}
.Certified-section{padding-top:120px;}
.Certified-section .gradient-text{background:linear-gradient(128deg,#2385FF 0%,#933EFF 70%);-webkit-background-clip:text;}
.certfied_title{border-radius:20px;background:#0B1522;padding:36px 15px;}
.certfied_title p{color:#F5F5FA;font-size:16px;font-weight:400;line-height:normal;padding:0;}
input.wpcf7-form-control.has-spinner.wpcf7-submit{border-radius:50px;background:linear-gradient(90deg,#2385FF 0%,#933EFF 100%);text-align:center;font-size:20px;font-weight:600;color:#FFF!important;height:auto;line-height:45px;padding:2px 52px;width:auto;}
.wpcf7-not-valid-tip{font-size:16px;position:absolute;bottom:0;}
.gradient-text{background:linear-gradient(72deg,#2385FF 0%,#933EFF 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:50px;font-weight:600;}
.pt-100{padding-top:100px}
.gradient-text::selection{color:red;background:#fff;-webkit-text-fill-color:#5e5fff;}
.content-center:before{right:0;margin:auto;}
.dev_content_box:after{background:rgba(228,65,255,0.12);filter:blur(17.5px);right:0;top:0;}
.dev_content_box:after,.dev_content_box:before{content:"";position:absolute;width:133.813px;height:133.813px;filter:blur(37.5px);}
.dev_content_box:before{background:rgba(0,112,235,0.15);filter:blur(45px);left:-40px;bottom:-50px;width:248.534px;height:248.534px;border-radius:130px;z-index:1;}
.order-md-1 .dev_content_box:before{right:0;left:auto;}
.mt-100{margin-top:100px}
.order-md-1 .dev_content_box:after{right:auto;left:0;}
.cat_content_wrap{padding:30px 0 40px 0;}
.shop_dev_sec img{width:100%;height:100%;border-radius:0  10px  20px  0;object-fit:cover;object-position:center;}
.linergred{border-radius:20px;background:#0e141d;backdrop-filter:blur(50px);padding:0 30px;overflow:hidden;height:100%;width:100%;display:flex;flex-flow:column;justify-content:center;}
.ai_main h1::selection{background:#007db2;-webkit-background-clip:unset;-webkit-text-fill-color:#fff;}
.col.content-col.order-md-1 .dev_content_box{background:linear-gradient(272deg,#55789F00 0%,#34567B 100%);}
.why_choose .nav-item{width:100%;margin-bottom:30px;}
.why_choose .col.Tab-col ul{max-width:100%;}
span.number.gradient-text{font-size:28px;padding-right:14px;margin-right:20px;font-weight:700;line-height:32px;border-right:#3f4f64 1px solid;}
.why_choose .nav-item .nav-link{color:#f5f5fa;border-radius:10px;border:1px solid #1D3F6A;background:#0F233D;font-size:18px;line-height:32px;padding:17px 0;}
.why_choose .nav-item .nav-link.active,.why_choose .nav-item .nav-link:hover{background:linear-gradient(21deg,#0585CD 0%,#8925D8 100%);border-radius:8px;}
.why_choose .nav-item .nav-link:hover img,.why_choose .nav-item .nav-link.active img{filter:brightness(0) invert(1);}
.why_choose .nav-item .nav-link:hover span.number.gradient-text,.why_choose .nav-item .nav-link.active span.number.gradient-text{color:#fff;background:none;-webkit-text-fill-color:#fff;}
.why_choose .nav-item .nav-link:hover span.number.gradient-text,.why_choose .nav-item .nav-link.active span.number.gradient-text{border-color:#fff;}
.why_choose  ul{max-height:620px;overflow-y:auto;}
.why_choose ul::-webkit-scrollbar-thumb{border-radius:100px;background:#2385FF;width:5px;}
.why_choose ul::-webkit-scrollbar{width:8px;}
.why_choose ul::-webkit-scrollbar-track{border-radius:100px;background:#0F233D;}
h3.text-white{font-size:28px;font-weight:600;line-height:39px;color:#F5F5FA;}
.tab-card p.text-white-light{color:#c4c6cb;font-size:15px;line-height:24px;}
.why_choose .tab-card li{position:relative;padding:0px 10px 0px 21px;color:#FFF;font-size:15px;max-width:50%;line-height:24px;float:left;width:100%;margin:10px 0;}
.ai-business-Services h2 + p{color:#F5F5FA;}
.why_choose .tab-card h3{color:#F5F5FA;font-size:28px;font-weight:600;line-height:39px;}
.why_choose .tab-card li:before{border:solid #fff;border-width:0 4px 4px 0;display:inline-block;padding:3px;content:"";position:absolute;left:0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);top:9px;}
.ai-tech-stack .business-card{justify-content:center;}
.business-card{border-radius:20px;background:#0e151d;min-height:210px;display:flex;flex-flow:column;}
.line-shaoow{background:linear-gradient(90deg,#933FFE00 0%,#1A4B81 100%);padding:1px;border-radius:20px;}
.business-card p{font-size:16px;line-height:24px;color:#F5F5FA;opacity:0.75;}
.business-card h3{line-height:normal;font-size:24px}
.business-title{font-weight:600;font-size:24px;color:#fff;line-height:normal;}
.shop_dev_sec.cta_3 img{margin-top:-70px;}
.shop_dev_sec.cta_3 p{color:#F5F5FA;font-size:18px;line-height:normal;}
li.tech-badge{border-radius:20px;background:rgba(255,255,255,0.08);color:#F5F5FA;padding:3px 13px;display:inline-block;margin-bottom:10px}
.ai_cta_section3{margin-top:150px}
.shop_dev_sec.cta_4 h3{font-size:30px;font-weight:300;line-height:44px;}
.shop_dev_sec.cta_4{padding-left:36px;background:linear-gradient(90deg,#2385FF 0%,#8e41ff 60%);}
.shop_dev_sec.cta_4 img{mix-blend-mode:hard-light;}
.shop_dev_sec.cta_4 h3 strong{font-weight:600;}
.img-col{max-width:360px;}
.content-col{max-width:calc(100% - 360px);}
.img-col img{border-radius:20px;}
.shop_dev_sec img.lines-rect{position:absolute;bottom:-130px;width:auto;height:auto;left:-130px;z-index:0;opacity:.8}
.shop_dev_sec img.cta_img_right{position:absolute;right:0;width:auto;bottom:0;}
.shop_dev_sec.cta_3{padding-left:75px;overflow:visible;}

/*fafasdfdf */
.project_highlight{border-radius:20px;margin-top:30px;padding:2px 1px;background:linear-gradient(90deg,#2385FF 0%,#933EFF 100%);}
.project_highlight .pr_heading{padding-bottom:20px;position:relative;margin-bottom:30px;font-weight:400}
.project_highlight .pr_heading:before,.slide-content-wrapper h4:before{content:"";position:absolute;width:473px;height:1.5px;background:linear-gradient(223deg,rgba(147,63,254,0.00) 0%,#1A4B81 100%);left:0;bottom:0;}
.project_highlight p{max-width:690px;color:#F5F5FA;font-size:16px;line-height:24px;opacity:0.75;margin-bottom:30px;}
.Highlight-container{border-radius:20px;background:rgba(255,255,255,0.05);backdrop-filter:blur(50px);}
.Highlight-container{padding:25px 30px;height:100%;background:#17212d}
.exp_slide_img{flex:0 0 39%;width:100%;padding-left:30px;}
.slide-content-wrapper{width:100%;border-radius:20px;min-height:650px;background:#0B1522;padding:30px;}
.slide-content-wrapper h4{font-size:24px;font-weight:500;line-height:24px;}
.project_highlight  .line-shaoow{background:linear-gradient(90deg,#302a5c 0%,#1a4b81 100%);padding:2px;border-radius:20px;}
.Highlight-container li:before{border:solid white;border-width:0 2px 2px 0;content:"";display:inline-block;padding:4px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);margin-right:15px;}
.Highlight-container li{position:relative;color:#F5F5FA;font-size:16px;padding:0;font-weight:400;line-height:24px;margin:10px 0;display:inline-block;width:100%;}
.Highlight-container ul{margin:0;}
.PowerBi_Cases .owl-carousel .owl-nav .owl-prev{padding-left:5px;border-color:#2B3539!important;}
.PowerBi_Cases .owl-carousel button.owl-prev:before,.PowerBi_Cases .owl-carousel button.owl-next:before{border-color:#2B3539;}
.PowerBi_Cases .owl-carousel .owl-nav .owl-next{margin-right:-55px;padding:0  3px 0 0;}
.PowerBi_Cases .owl-carousel button.owl-next:before{border-width:0 2px 2px 0;}
.PowerBi_Cases .owl-carousel .owl-nav .owl-prev{margin-left:-55px;}
.PowerBi_Cases .owl-nav{bottom:auto;top:50%;width:100%;display:flex;justify-content:space-between;left:0;right:0;margin:auto;}
.PowerBi_Cases .owl-carousel button.owl-prev,.PowerBi_Cases .owl-carousel button.owl-next{height:35px;width:35px;position:absolute;display:flex;align-items:center;justify-content:center;background:transparent!important;border-radius:50pX;border:1px solid #333333;position:static;background:#333941!important;}
.PowerBi_Cases .owl-carousel button.owl-prev:before,.PowerBi_Cases .owl-carousel button.owl-next:before{border-color:#2B3539;}
.PowerBi_Cases  .owl-carousel button.owl-prev:before,.PowerBi_Cases  .owl-carousel button.owl-next:before{-webkit-transform:rotate(-45deg);border:solid #fff;border-width:3px 0px 0px 3px;padding:5px;}
.PowerBi_Cases  .owl-carousel button.owl-next:before,.PowerBi_Cases  .owl-carousel button.owl-prev:before{content:"";}
.PowerBi_Cases .owl-carousel button.owl-next:before{border-width:0 3px 3px 0;}
.slide-content-wrapper h4::before{width:72px;}
.PowerBi_Cases .owl-carousel .owl-nav .owl-prev:hover,.PowerBi_Cases .owl-carousel .owl-nav .owl-next:hover{background:linear-gradient(90deg,#2385FF 0%,#933EFF 100%)!important;}
.ai_appr_box:nth-child(2n) .line-shaoow{background:none;}
.bg-dark-box h3{font-size:20px;line-height:27px;margin-top:20px;}
.bg-dark-box p{color:#F5F5FA;opacity:0.75;line-height:24px;}
.ai_appr_box{background:rgba(255,255,255,0.05);}
.ai_appr_box:nth-child(2n){background:rgb(0 8 17);backdrop-filter:blur(50px);}
.ai_business_modal h3{font-size:20px;font-weight:500;line-height:28px;}
section div h2 + p,.ai_business_modal h2 + p{line-height:24px;font-size:18px}
.ai_business_modal p{color:#FFF;font-size:14px;line-height:22px;opacity:0.75;}
.ai_business_modal  .row + .row{background:url(/wp-content/uploads/2023/08/dotted-line.png) no-repeat center center;background-size:100% 100%;margin-top:40px;}
.ai_dev_card{border-radius:20px;backdrop-filter:blur(50px);padding:15px 35px;background:#181e26;min-height:250px;display:flex;flex-flow:column;justify-content:center;}
.ai_business_modal .line-shaoow{background:linear-gradient(327deg,#302a5c 0%,#1a4b81 100%);padding:1px;}
.left-box,.right-box{max-width:34%;width:100%;}
.line-shaoow.circle-line{width:96px;height:96px;padding:2px;border-radius:100px;display:flex;align-items:center;justify-content:center;position:absolute;top:50%;transform:translatey(-50%);background:linear-gradient(90deg,#373156  0%,#1b4c81 100%);}
img.center-img{max-width:100%;width:100%;height:auto;}
.middle-col{max-width:31%;width:100%;background:#000811}
.right-box .ai_dev_card{right:auto;left:0;padding-left:65px;}
.left-box .ai_dev_card{text-align:right;padding-right:65px;}
.left-box .line-shaoow.circle-line{right:-64px}
.right-box .ai_dev_card .line-shaoow.circle-line{right:auto;left:-50px;}
.ai_appr_box{padding:0;}
.ai_appr_box:nth-child(2n + 1){padding:2px 0;background:linear-gradient(270deg,rgba(147,63,254,0.00) 1.04%,rgba(26,75,129,0.80) 48.50%,rgba(147,63,254,0.00) 100%);border-radius:0;}
.ai_appr_box .bg-dark-box{background:#0e141e;border-radius:0;}
.ai_appr_box:nth-child(2n) .bg-dark-box{background:#000811;}
.blog-card{background:linear-gradient(327deg,#302a5c 0%,#1a4b81 100%);padding:1px!important;border-radius: 15px;}
.blog-card-inner{background:#181e26;border-radius:15px;padding:15px;height:100%;}
.o-hideen.img-anim{border-radius:15px 15px 0 0;}
.anim{width:500px;height:500px;border:5px solid lightgray;background:royalblue;position:relative;display:flex;justify-content:center;align-items:center;border-radius:1px;margin:5px;}
.absolute-right{position:absolute;border-radius:50%;animation-duration:6s;animation-iteration-count:1;animation-iteration-count:1;animation-timing-function:linear;max-width:620px;/*    animation: identifier 4s infinite linear;*/animation-name:identifier;animation-duration:4s; /* or: Xms */animation-iteration-count:1;animation-timing-function:linear;/*    overflow: hidden;*/}
.oyhide{overflow:hidden;}
@keyframes identifier{
    0%{height:0;}
    100%{height:1000px;}
}
section.faq .card{background:transparent;border:1px solid rgba(255,255,255,0.50);margin:0 0 30px;border-radius:6px;}
section.faq .btn-link{background:#000811;border:0;}
section.faq{padding-bottom:100px;}
section.faq button.btn.btn-link{color:#fff;font-size:17px;border:1px solid rgba(255,255,255,0.50);background:transparent;font-weight:400;line-height:normal;}
section.faq .card-header .btn-link:after{filter:invert(1);}
section.faq .card-header .btn-link:hover,section.faq .card-header .btn-link:focus{color:#fff;    /* border: 1px solid rgba(255, 255, 255, 0.50); */font-weight:400;}
section.faq .card-body p,section.faq .card-body li{color:#fff;font-size:16px;font-style:normal;font-weight:400;line-height:20px;opacity:0.75;}
section.faq .card-body p{line-height:26px;padding-top:20px}
section.faq .card-body li{line-height:26px;position:relative;padding-left:20px;background:none;}
.blog-card .blog-title,.blog-card .blog-disc{color:#fff;}
section.faq .card-body li:before{content:"";position:absolute;background:#fff;border-radius:50px;width:10px;height:10px;top:10px;left:0;}
.emiz-blogs p,.faq h2 +  p{opacity:0.75;}
.content-bottom.text-heading::selection,.content-bottom.text-heading strong::selection,.content-bottom::selection,.content-bottom strong::selection{background:#007db2;-webkit-background-clip:unset;-webkit-text-fill-color:#fff;}
@media(max-width:1680px){
    .project_highlight p{margin-bottom:10px;}
    .Highlight-container{padding-bottom:0;}
    .Highlight-container li{margin:7px 0;}
}
@media(max-width:1600px){
.ai_main .pt-100 {
    padding-top: 150px;
}
    .shop_dev_sec .ai_dev_link{font-size:34px;line-height:42px;}
    .certfied_title{padding-top:24px;padding-bottom:24px}
    .absolute-right{max-width:35%}


}
@media(max-width:1440px){
    .mt-100{margin-top:50px;}
    .pt-100{padding-top:50px;}
    .ai_main p{font-size:16px;line-height:26px;}
    .Certified-section{padding-top:90px;}
    .contentbox-inner p{font-size:14px;line-height:22px;padding:15px 25px}
    section div h2 + p,.ai_business_modal h2 + p,section.ai-form-section p{line-height:22px;font-size:15px;}

    .shop_dev_sec li:before{border-width:5px 0px 5px 9px;}
    .emizentech-btn{font-size:18px;padding:12px 55px;min-width:auto;}
    .shop_dev_sec li{font-weight:400;padding:4px 0px 5px 15px}
}
@media(max-width:1366px){
    .Highlight-container{padding-bottom:10px;}
    .Certified-section{padding-top:70px;}
    .ai_main h1{font-size:60px;line-height:70px;}
    .ai_main h1 span{font-size:45px;line-height:50px;}

    .why_choose .nav-item .nav-link{font-size:16px}
    span.number.gradient-text{margin-right:10px;font-size:22px;line-height:30px}
    .project_highlight{margin-top:10px;}
    .certfied_title{padding:16px 25px 26px 25px;}
    .content-bottom{font-size:30px;line-height:42px;}
    .shop_dev_sec .ai_dev_link{font-size:32px;line-height:40px;padding:0;}
    .why_choose .nav-item .nav-link{padding:12px 0}
    .ai_business_modal h3{font-size:17px}
    .left-box .line-shaoow.circle-line{right:-60px;}
    .line-shaoow.circle-line{width:85px;height:85px;}
}
@media(max-width:1200px){
    .shop_dev_sec img.cta_img_right{max-width:50%;}
    .shop_dev_sec li{padding:4px 0px 5px 20px;}
    .cat_content_wrap{padding:20px 0 30px 0;}
    .why_choose .tab-card li{padding-left:20px}
}
@media(max-width:1199px){
    .shop_dev_sec.cta_4 h3 br{display:none;}
    .shop_dev_sec.cta_4 h3{font-size:25px;line-height:38px;}
    .shop_dev_sec .ai_dev_link{font-size:28px;line-height:36px;}
    .shop_dev_sec.cta_3{padding-left:25px;padding-right:0}
    .PowerBi_Cases .owl-carousel .owl-nav .owl-prev,.PowerBi_Cases .owl-carousel .owl-nav .owl-next{margin:0;}
    .project_highlight{max-width:97%;margin:20px auto;}
    .shop_dev_sec.cta_3 p{font-size:16px}
    li.tech-badge{text-align:center;}
}
@media(max-width:991px){
    .ai-form-section .text-heading:before{right:0;margin:auto;}
    h3.gradient-text{font-size:40px;line-height:49px;padding:0;}
    .left-box,.right-box{max-width:100%;display:flex;flex-wrap:wrap;}
    .shop_dev_sec.cta_4{padding:0 50px;}
    .shop_dev_sec{padding:0 20px;}
    .certfied_title{padding:16px 5px;}
    .ai_tech_form.Consultation-from{margin:0 auto;display:block;max-width:500px;}
    .img-col{max-width:280px;}
    .content-col{max-width:calc(100% - 280px);}
    .linergred{padding:25px 20px;}
    .why_choose .nav-item .nav-link > span{display:flex;align-items:center;}
    .right-box .ai_dev_card,.left-box .ai_dev_card{padding:20px;}
    .left-box .line-shaoow.circle-line{position:static;transform:translate(0);margin:auto;}
    .right-box .ai_dev_card,.left-box .ai_dev_card{padding:20px;height:100%;}
    .line-shaoow.circle-line{position:static;transform:translate(0);margin:auto;}
    .round.dev_img{position:static;transform:translate(0);margin:auto;width:80px;height:80px;}
    .left-box .line-shaoow,.right-box .line-shaoow{max-width:calc(50% - 15px);margin:0 auto;}
    .ai_business_modal .row + .row{background:none;margin-top:0}
    .business-card h3{line-height:34px;font-size:20px;}
    .shop_dev_sec.cta_3 p br{display:none;}
    .shop_dev_sec.cta_3 img{margin-top:0;}
    .why_choose .nav-item .nav-link{font-size:14px;line-height:23px;text-align:left;}
    .why_choose .tab-card li{padding-left:20px;margin:5px 0;max-width:100%;}
    section.ai-business-Services{padding-top:0;}
    .ai_cta_section3{margin-top:60px;}
    section.faq{padding-bottom:50px;}
    .img-col img{border-radius:20px;height:100%;object-fit:cover;}
    .shop_dev_sec.cta_3 .cat_content_wrap{padding:10px 0;}
    .ai_dev_link{font-size:22px}
    .blog-card p.blog-disc{display:none;}
    .blog-card .blog-title{font-size:16px!important;line-height:24px;padding-bottom:0!important;}
    [class*="dir"]{display:none;}
}
@media(max-width:768px){
    .ai_main h1{font-size:46px;line-height:50px;}
    .ai_main h1 span{font-size:40px;line-height:50px;}
    br{display:none;}
    .contentbox-inner p{padding:10px;}
    .Certified-section{padding-top:40px;}
    .ai_main{padding-top:65px;}
    .PowerBi_Cases .owl-carousel .owl-nav .owl-next,.PowerBi_Cases .owl-carousel .owl-nav .owl-prev{margin:0;}
    .Highlight-container{flex:0 0 100%;padding:20px 10px;}
    .slide-content-wrapper{min-height:570px;padding:30px 40px}
    .Highlight-container li{display:flex;align-items:center;}
    .project_highlight .line-shaoow{flex:0 0 100%;}
    .shop_dev_sec .ai_dev_link{font-size:25px;line-height:36px;}
    .pt-100{padding-top:35px;}
    .emiz-blogs{padding:40px 0;}
    .shop_dev_sec img.lines-rect{display:none;}
    .Certified-section .gradient-text{font-size:42px;line-height:50px}
}
@media(max-width:767px){
    .content-col{max-width:100%;}
    .ai_appr_box:nth-child(2n) .bg-dark-box{background:#0e141e;}
    .shop_dev_sec.cta_4{padding:0 15px}
    .shop_dev_sec.cta_3{padding:20px;text-align:center;}
    section.faq{padding-top:40px}
    .emizentech-btn{width:100%;max-width:400px;padding:14px 0;}
    .ai_cta_section3{margin-top:40px;}
    .why_choose .text-heading:before{right:0;margin:0 auto;}
    .inner-bg{padding:25px 20px;}
    .ai_appr_box:nth-child(2n + 1),.ai_appr_box{padding:0 15px;}
    .col.Tab-col-content,.col.Tab-col{flex:0 0 100%;max-width:100%;}
    .why_choose .tab-card li{max-width:100%}
    .emiz-blogs .item{padding:0 15px;}
    .why_choose .nav-item .nav-link > span{display:flex;align-items:center;}
    section.faq button.btn.btn-link{font-size:16px;padding:10px 41px 10px 15px;}
    .emiz-blogs .owl-carousel .owl-nav{position:absolute;bottom:-40px;right:20px;z-index:1;}
    .blog-card-inner{min-height:312px;}
    .why_choose .nav-item .nav-link{font-size:14px;line-height:24px;text-align:left;}
    .PowerBi_Cases .text-heading:before{right:0;margin:0 auto;}
    .ai_dev_link {
        font-size: 20px;
        line-height: 29px;
    }
    .project_highlight .pr_heading {
    font-size: 20px;
    line-height: 27px;
}
    .sr_disc{line-height: 26px}
    .content-bottom{font-size: 28px;line-height: 35px}
    .Consultation-from span.wpcf7-form-control-wrap {padding-bottom: 1.4rem;}
    section.ai-business-Services {
        padding-top: 40px;}
        .ai_main  .pt-100 {
    padding-top: 30px;
}
}
@media(max-width:575px){
    .left-box .line-shaoow,.right-box .line-shaoow{max-width:100%;}
    .slide-content-wrapper h4{font-size:20px;line-height:24px;}
    .ai_main h1{font-size:42px;line-height:48px;}
    .ai_main .certfied_title  p{padding:5px;line-height: 23px}
    a.emizentech-btn.mt-3.cta_2-btn span{padding-left:0;padding-right:0;}
    .slide-content-wrapper{min-height:700px;padding: 20px}
    .img-col{max-width:100%;}
    .img-col img{display:block;max-width:300px;margin:auto;}
    .linergred{text-align:center;padding: 15px }
    .certfied_title{padding:10px 0px;}
    h3.text-white{font-size:24px;line-height:32px;}
    .Highlight-container h4{font-size:19px;}
    .project_highlight .pr_heading:before{width:80%;}
}
@media(max-width:480px){
    .Certified-section [class*="col"]{padding:0 6px;}
    .emizentech-btn{font-size:16px}
    .blog-card-inner{min-height:275px;}
}
@media (max-width:45em){
    .tabs .tab,.tabs label{-webkit-box-ordinal-group:NaN;-webkit-order:initial;-ms-flex-order:initial;order:initial;}
    .tabs label{width:100%;margin-right:0;margin-top:0.2rem;}
}
